{% load static %}

<!DOCTYPE html>
<html lang="pt_br">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tarefas</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    
    </head>

<body>

<div class="container">
    <h1> LISTA DE TAREFAS </h1>

    <form method= 'POST' action="/">
        {% csrf_token %}
        {{form.titulo}}
        <input type="submit" name="Salvar">
    </form>


<div class="listagem">
    {% for lista in lista %}

        <li>
            <a href="{% url 'listaf' lista.pk %}"> Alterar </a>
            <a href="{% url 'deletar' lista.pk %}"> Deletar </a>
            </br>

            {% if lista.check == True %}
            <strike>{{lista.titulo }} </strike></br>

            {% else %}
            <p>{{lista.titulo }} </p>
            

            {% endif %}
        
        </li>
    {% endfor %}
</div>

</div>

</body>
</html>